.button {
    margin-top: 4px;
    width: 140px;
    height: 32px;
    border-radius: 8px;
    background-color: $main-color;
    border: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    &_main {
        width: 303px;
        height: 54px;
        font-size: 16px;
        line-height: 25px;
        margin-top: 80px;
    }
    &_submit {
        width: 100%;
        height: 55px;
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
        border-radius: 4px;
    }
}

